<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>cz.muni.fi.webmias.ProcessServlet</servlet-class>
        <init-param>
            <description>query logging file</description>
            <param-name>querylog</param-name>
            <param-value>../logs/webmias-querylog.txt</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InputConversionServlet</servlet-name>
        <servlet-class>cz.muni.fi.webmias.InputConversionServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SuggestServlet</servlet-name>
        <servlet-class>cz.muni.fi.webmias.SuggestServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MtermsServlet</servlet-name>
        <servlet-class>cz.muni.fi.service.mterms.MtermServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WsServlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>
                com.sun.jersey.config.property.packages
            </param-name>
            <param-value>
                cz.muni.fi.service
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CachedDocumentsServlet</servlet-name>
        <servlet-class>cz.muni.fi.webmias.CachedDocumentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/ps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputConversionServlet</servlet-name>
        <url-pattern>/input</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuggestServlet</servlet-name>
        <url-pattern>/suggest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WsServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CachedDocumentsServlet</servlet-name>
        <url-pattern>/cached/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
